.credit-card{
width: 350px;
height:255px;
background-color:  rgb(40, 90, 184);
color:white;
border-radius: 10px;
margin: 0px auto;
padding: 0 5px;
}
.credit-card-title{
text-align: right;
}
.credit-card-chip{
  width: 50px;
  height: 40px;
  background-color: #baaf7b;
  border-radius: 10px;
}
.credit-card-content{
display: flex;
}
.credit-card-number{
background-color: #baaf7b;
}
.credit-card-valid-thru{
text-align:right;
}
.credit-card-holder-name{
  padding-bottom:10px;
  font-size:1.2em;
}
.credit-card-logo img{
width:80px;
display: flex;
align-items: flex-end;
padding-bottom: 5px;
flex:1px;
padding-left:10px;
}